@font-face {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    src: local("Georgia Regular"),
         url("/shelter/assets/fonts/Georgia.ttf") format("ttf"),
  }

  :root {
    --gradient: linear-gradient(to bottom right, #5B483A, #262425);
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-3xl: #292929;
    --color-light-s: #FAFAFA;
    --color-light-l: #F6F6F6;
    --color-light-xl: #FFFFFF;
    --georgia: "Georgia", serif;
  }
  
  html {
    scroll-behavior: smooth; 
  }
  *, ::before, ::after {
    box-sizing: inherit;
  }
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  body {
    font-family: Arial, sans-serif; 
    position: relative;
    overflow-x: hidden;
    margin: 0;
  }
  h2 {
    font-family: var(--georgia);
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-dark-l);
  }
  h3 {
    font-family: var(--georgia);
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
  }
  h4 {
    font-family: var(--georgia);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
  }
  h5 {
    font-family: var(--georgia);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
  }
  .container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--color-light-xl);
  }
  .logo {
    cursor: pointer;
    z-index: 1;
    text-decoration: none;
  }
  .logo-tittle {
    font-family: var(--georgia);
    font-size: 32px;
    color: var(--color-dark-l);
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin: 0;
  }
  .logo-subtittle {
    font-size: 13px;
    color: var(--color-dark-xl);
    line-height: 15px;
    letter-spacing: 0.1em;
    margin-top: 10px;
    margin-left: 4px;
  }
  .hamburger {
    display: none;
  }
  .nav {
    z-index: 1;
    margin-left: auto;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
    list-style: none;
    gap: 36px;
    margin: 0;
  }
  .nav-link {
    line-height: 50px;
    text-decoration: none;
    transition: color 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 50px;
    color: var(--color-dark-l);
    
  }
  .nav-link:hover {
    color: var(--color-dark-3xl);
  }
  .active {
    border-bottom: 3px solid var(--color-primary); 
    padding-bottom: 3px;
    color: var(--color-dark-3xl);
  }



  /* Pets Section */
  .pets-section {
    background-color: var(--color-light-l);
}
.pets-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
}
.pets-tittle {
  text-align: center;
}
.pets-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    row-gap: 30px;
    justify-content: space-between;
    align-items: flex-start;
  }
  .card {
    background-color: var(--color-light-s);
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 9px;
    padding-bottom: 30px;
    cursor: pointer;
  }
  .card:hover {
    background-color: var(--color-light-xl);
  }
  .card:hover .button-secondary {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
  }
  .name-card {
    font-family: var(--georgia);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
  }
  .button-secondary {
    background-color: var(--color-light-s);
    border: 2px solid var(--color-primary);
    box-sizing: border-box;
    border-radius: 100px;
    font-family: var(--georgia);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    width: 187px;
    height: 52px;
    transition: 0.3s;
    cursor: pointer;
  }
  .pets-navigation {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .button-paginator, .button-paginator-right, .button-paginator-left {
    height: 52px;
    width: 52px;
    background-color: var(--color-light-l);
    border: 2px solid var(--color-primary);
    box-sizing: border-box;
    border-radius: 100px;
    color: var(--color-dark-3xl);
    transition: 0.3s;
    cursor: pointer;
  }
  .button-paginator {
    cursor: default;
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
  }
  .button-paginator-left:disabled {
    border: 2px solid var(--color-dark-s);
    cursor: default;
  }
  .pets-navigation > .button-paginator-left:disabled > h4 {
    color: var(--color-dark-s);
  }

  .button-paginator-right:disabled {
    border: 2px solid var(--color-dark-s);
    cursor: default;
    pointer-events: none;
  }
  .pets-navigation > .button-paginator-right:disabled > h4 {
    color: var(--color-dark-s);
  }
  .button-paginator-right:hover {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
  }

  .footer-section {
    background-image: url("/shelter/assets/images/footer-gradient-background.png"), var(--gradient);
    overflow-y: hidden;
  }
  .footer-container {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 160px; */
    justify-content: space-between;
  }
  .contacts-footer, .location-footer {
    margin-top: 15px;
  }
  .location-footer {
    margin-left: -8px;
  }
  .footer-tittle {
    color: var(--color-light-xl);
    width: 280px;
  }
  .email, .phone, .location {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    margin: 0px; 
    margin-top: 40px;
  }
  .location1 {
    margin-top: 31px;
  }
  .location2 {
    margin-top: 33px;
  }
  .footer-text {
    font-family: var(--georgia);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    text-decoration: none;
  }
  .footer-text:hover {
    color: var(--color-light-s);
  }
  .img-footer {
    width: 300px;
    /* height: 310px; */
    margin-right: 5x;
  }

  /* Popup */
  .modal {
    position: fixed;
    display: none;
    background-color: var(--color-light-s);
    z-index: 60000;
    min-height: 100px;
    left: 20%;
    box-sizing: border-box;
    width: 900px;
    /* height: 500px; */
    top: 17%;
    border-radius: 9px;
    justify-content: flex-start;
  }
  .modal.on {
    display: flex;
  }
  .modal.on:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }
  .modal-js-overlay {
    background: #292929;
    opacity: 60%;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 1000px;
    z-index: 2000;
    left: 0px;
    overflow-y: hidden;
  }
  .modal-js-close {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    height: 52px;
    width: 52px;
    padding: 16px 18px;
    top: -52px;
    right: -52px;
    cursor: pointer;
  }
  .modal-js-close:hover {
    background: var(--color-primary);
  }
  .stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
  .popup-img {
    height: 100%;
    border-radius: 0 9px 0 9px;
  }
  .popup-name {
    margin-top: 50px;
    margin-left: 29px;
    color: #000000;
  }
  .popup-type {
    margin-top: 10px;
    margin-left: 29px;
    color: #000000;
  }
  .popup-description {
    margin-top: 40px;
    margin-left: 29px;
    margin-right: 20px;
    color: #000000;
  }
  .popup-extra {
    margin-top: 40px;
    margin-left: 6px;
    list-style: none;
  }
  .popup-extra li {
    margin-bottom: 10px;
  }
  .popup-extra li::before {
    content: "\2022";
    color: var(--color-primary);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    .header-container {
      padding-left: 30px;
      padding-right: 30px;
    }
    .pets-container {
      gap: 0;
      padding-bottom: 75px;
    }
    .pets-cards {
      margin-top: 30px;
      margin-bottom: 40px;
      justify-content: center;
    }
    /* .card:nth-child(7), .card:nth-child(8) {
      display: none;
    } */
    .footer-container {
      justify-content: center;
      gap: 67px;
      row-gap: 65px;
      padding-top: 15px;
    }
    .contacts-footer {
      margin-left: -8px;
    }
    .location1 {
      margin-top: 32px;
    }
    /* Popup */
    .modal {
      left: 10%;
      width: 630px;
      /* height: 350px; */
    }
    .popup-img {
      width: 350px;
      height: 350px;
    }
    .popup-name {
      margin-top: 10px;
      margin-left: 11px;
    }
    .popup-type {
      margin-top: 10px;
      margin-left: 11px;
    }
    .popup-description {
      margin-top: 20px;
      margin-left: 11px;
      margin-right: 9px;
      font-size: 13px;
    }
    .popup-extra {
      margin-top: 20px;
      margin-left: -10px;
    }
    .popup-extra li {
      margin-bottom: 5px;
    }
  }

  @media (max-width: 767px) {
    html, body {
      overflow-x: hidden;
      width: 100%;
      position: relative;
    }
    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      width: 30px;
      /* height: 22px; */
      cursor: pointer;
      /* user-select: none; */
      z-index: 2;
      /* margin-top: 15px; */
      /* margin-right: 59px; */
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    .line {
      width: 30px;
      height: 2px;
      background: #000000;
      z-index: 15;
      transition: all 0.2s ease-in-out;
    }
    .hamburger.open {
      
      position: absolute;
      right: 56px;
      top: 49px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    .nav-list {
      position: fixed;
      margin: 0;
      padding: 0;
      top: -30px; /*?????*/
      padding-top: 248px;
      right: -325px;
      width: 320px;
      background-color: #FFFFFF;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      transition: right 0.1s ease-in;
      gap: 41px;
    }
    .nav-list.open {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      right: 0;
      width: 320px;
      height: 515px;
      top: -30px;
    }
    .nav-link { 
      opacity: 1;
      margin-left: -2px;
      margin-bottom: 16px;
      /* top: 0; */
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 160%;

    } 
    .active {
      padding-bottom: 7px;
    }
    .header-container.open {
      justify-content: flex-end;
      gap: 73px;
    }
    .header-container.open > .logo {
      z-index: 10;
      transition: all 0.5s ease-in-out;
    }


    .container {
      padding-left: 0px;
      padding-right: 0px;
    }
    .header-container {
      padding-left: 3%;
      padding-right: 53px;
    }
    h3 {
      font-size: 25px;
      text-align: center;
      letter-spacing: 0.06em; 
      line-height: 130%;
     }
     .pets-container {
       padding-top: 13.1%;
       padding-bottom: 14.2%;
       gap: 40px;
     }
     .pets-cards {
       justify-content: center;
       flex-direction: column;
     }
     /* .card:nth-child(4), 
     .card:nth-child(5), 
     .card:nth-child(6), 
     .card:nth-child(7), 
     .card:nth-child(8) {
       display: none;
     } */
     .pets-navigation {
       gap: 10px;
     }
    
    .footer-container {
      justify-content: center;
      row-gap: 23px;
      padding: 14px 13px 0 7px;
    }
    .footer-tittle {
      margin: 0 0 0 10px;
    }
    .email{
      margin-left: 21px;
    } 
    .phone {
      margin-left: 27px;
    }
    .location-footer {
      margin: 0;
      padding: 0;
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 40px;
    }
    .location {
      margin-top: 0;
    }
    .img-footer {
      padding: 17px 25px 0 30px;
      min-width: 260px;
    }
    /* Popup */
    .modal {
      left: 10%;
      width: 240px;
      /* height: 341px; */
    }
    .popup-img {
      display: none;
    }
    .popup-name {
      margin-top: 10px;
      margin-left: 11px;
      font-size: 35px;
    }
    .popup-type {
      margin-top: 10px;
      margin-left: 11px;
      font-size: 20px;
      text-align: center;
    }
    .popup-description {
      margin-top: 20px;
      margin-left: 11px;
      margin-right: 9px;
      font-size: 13px;
      text-align: justify;
    }
    .popup-extra {
      margin-top: 20px;
      margin-left: -10px;
    }
    .popup-extra li {
      margin-bottom: 5px;
      font-size: 15px;
    }
  }

  .stop-scrolling {
    height: 100%;
    overflow: hidden;
}
.stop-scroll {
  position: fixed;
  height: 100%;
  overflow: hidden;
}
.overlay {
  background: #292929;
  opacity: 60%;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 1000px;
  /* z-index: 0; */
  left: 0px;
  overflow-y: hidden;
}